.container {
  /* background-image: url("../assets/imgs/background.jpeg");
  background-size: cover;
  height: 10000px;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0e5de;
}

.container img {
  color: transparent;
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: .5rem;
}
.nav img {
  width: 40px
}

@media only screen and (min-width: 768px) {
  .container img {
  }
  .nav {
    padding: 1rem;
  }
  .nav img {
    width: 80px
  }
}
