.container {
  /* background-image: url("../assets/imgs/background.jpeg");
  background-size: cover;
  height: 10000px;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(255, 244, 223);
}

.container img {
  color: transparent;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 992px) {
  .container img {
  }
}
